@import 'src/services/style/variables';
.load_tickets__wrapper {
  width: 500px;
  align-self: center;
  .load_tickets__button {
    display: block;
    font-family: $main_font;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    height: 50px;
    color: white;
    background-color: $active_color;
    border: 0;
    outline: none;
    border-radius: $border_radius;
    cursor: pointer;
  }
}

@media (max-width: $mobile_width_screen) {
  .load_tickets__wrapper{
    width: 100%;
  }
}