@import 'src/services/style/variables';
.filter {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  width: 200px;
  border-radius: $border_radius;
  .title_wrapper {
    margin-bottom: 10px;
    h2 {
      font-size: 12px;
      font-family: $main_font;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.5px;
      text-align: left;
      margin: 0;
    }
  }
  .checkbox_wrapper {
    text-align: left;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    padding-bottom: 10px;
    label {
      display: block;
      font-family: $main_font;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      cursor: pointer;
    }
    .checkbox_custom {
      margin-right: 10px;
      position: absolute;
      z-index: -1;
    }
    .checkbox_custom + label::before {
      content: '';
      opacity: 1;
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      border: 1px solid $checkbox_border_color;
      top: 0;
      left: 0;
      cursor: pointer;
    }
    .checkbox_custom:checked + label::before {
      background: url('checked.svg') center center no-repeat;
      box-shadow: 0 2px 8px 0 $active_shadow_color;
      border-color: $active_color;
    }
  }
  :last-child {
    margin-bottom: 0;
  }
  :hover{
    background-color: #F1FCFF; ;
  }
}

@media (max-width: $mobile_width_screen) {
  .filter {
    width: 100%;
    padding: 6px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .title_wrapper {
      margin-bottom: 10px;
    }
    .checkbox_wrapper {
      padding: 0 25px;
    }
  }
}
