@import 'src/services/style/variables';
.card {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 40px;
  .title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    .price {
      span {
        font-size: 24px;
        font-family: $main_font;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color: $active_color;
      }
    }
    .logo_wrapper {
      width: 110px;
      img {
        object-fit: contain;
        width: 110px;
      }
    }
  }
  .ticket_description {
    display: flex;
    flex-direction: column;
    .description_departure {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .description_arrival {
      display: flex;
      justify-content: space-between;
    }
    .description_element__title {
      font-family: $main_font;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-align: left;
      color: $inactive_color;
    }
    .description_element__value {
      font-family: $main_font;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0;
      text-align: left;
    }
  }
}
